In [1]:
from Bio.SeqIO.QualityIO import FastqGeneralIterator

import pandas as pd
import numpy as np
import csv
from scipy import stats
from scipy.stats import ttest_ind
import math

seq_t0 = []
seq_t3 = []
for title, seq, qual in FastqGeneralIterator('C:\\Users\\90623\\Desktop\\t0.fq'):
    seq_t0.append(seq)
for title, seq, qual in FastqGeneralIterator('C:\\Users\\90623\\Desktop\\t3.fq'):
    seq_t3.append(seq)

In [2]:
b_ref = pd.read_csv("C:\\Users\\90623\\Desktop\\barcode_reference.csv",index_col=0,header=0)
codon_table = pd.read_csv("C:\\Users\\90623\\Desktop\\codon_table.csv",index_col=0,header=None,names=['single','triple'])
#print(b_ref.head())
#print(codon_table.head())

In [3]:
b_ref.sort_values(by = 'position', inplace = True)
B_ref = b_ref[:len(b_ref) - len(b_ref.query('position == "wt"'))]
B_ref_wt = b_ref[len(b_ref) - len(b_ref.query('position == "wt"')):]
B_ref['position'] = B_ref['position'].astype('int')
B_ref.sort_values(by = 'position', inplace = True)
B_ref.head(15)
B_ref_wt

<ipython-input-3-a9ebdf7a4463>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B_ref['position'] = B_ref['position'].astype('int')
<ipython-input-3-a9ebdf7a4463>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B_ref.sort_values(by = 'position', inplace = True)

                     position original mutant
ACCACATTCCTATAGCGGGG       wt       wt     wt
AGCTACAGGAGTTATATTTC       wt       wt     wt
GCAAGCCCAGGAATGCCGAG       wt       wt     wt
AACCGCCTGCCGCCCCTCTC       wt       wt     wt
ATAACAAACGCCGCAGAGAC       wt       wt     wt
...                       ...      ...    ...
ACGCTCCGCCGAGGAGGGAG       wt       wt     wt
AGGACCGCAAGTCGGGGTAA       wt       wt     wt
ACCCTATTCTTGATAAAGCT       wt       wt     wt
GCGGCCCTCCCCCACCAACT       wt       wt     wt
GGACCGAGACCGATCTCGTA       wt       wt     wt

[586 rows x 3 columns]

In [4]:
with open('C:\\Users\\90623\\Desktop\\codon_table.csv', "r", encoding='utf-8') as codon_table:
    list_csv = list(csv.reader(codon_table))
    codon_dict = {}
        # 利用for循环将表中氨基酸对应序列、氨基酸名称缩写、氨基酸名称写入字典
    for i in range(0, len(list_csv)):
        codon_dict[list_csv[i][0]] = [list_csv[i][1], list_csv[i][2]]
#codon_dict

In [5]:
origin_single = []
mutant_single = []
for row in B_ref.itertuples():
    #print(row[2])
    origin_single.append(codon_dict[row[2]][0])    
    mutant_single.append(codon_dict[row[3]][0])
B_ref['origin_single'] = origin_single
B_ref['mutant_single'] = mutant_single
B_ref.head(15)

<ipython-input-5-721adcb6671f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B_ref['origin_single'] = origin_single
<ipython-input-5-721adcb6671f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B_ref['mutant_single'] = mutant_single

                      position original mutant origin_single mutant_single
GCTCCCTTGCGGATAAAACT         1      TTG    GAG             L             E
GACATGAAGCGGTAGTTCCT         1      TTG    TTT             L             F
AATACATCTGTAGGCTACCC         1      TTG    TTT             L             F
GTTAGTTATCAGCTTGAGAG         1      TTG    TTT             L             F
AAAGTGCCCCGCTTGTAGCA         1      TTG    GTG             L             V
ACTTAGCGCATCCATCAAGT         1      TTG    GTG             L             V
GTACGGCCCAGGCGAAAGTC         1      TTG    GGG             L             G
GCTACTTGCACAGAGGTTCC         1      TTG    ACG             L             T
ACGCGGTTTCTAGGACAAAC         1      TTG    GTG             L             V
ACGACGGTTAAGTTTTGTGT         1      TTG    TCT             L             S
ATCGGAAGTCTGTCAGATCT         1      TTG    GGG             L             G
ACGCGCCCCGACTGCAAGTC         1      TTG    GGG             L             G
GGTGCCATACCCCCTTTTTG         2      AGA    AGT             R             S
ACGAAAGTAACGAAGGCGTC         2      AGA    CAG             R             Q
GTAACCACATGTCTACTATT         2      AGA    GCT             R             A

In [6]:
B_ref['t0_fre'] = pd.Series(seq_t0).value_counts()
B_ref['t3_fre'] = pd.Series(seq_t3).value_counts()
B_ref_wt['t0_fre'] = pd.Series(seq_t0).value_counts()
B_ref_wt['t3_fre'] = pd.Series(seq_t3).value_counts()
B_ref.to_csv("C:\\Users\\90623\\Desktop\\B_ref.csv")
B_ref
B_ref_wt

<ipython-input-6-af03bf8d2db5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B_ref['t0_fre'] = pd.Series(seq_t0).value_counts()
<ipython-input-6-af03bf8d2db5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B_ref['t3_fre'] = pd.Series(seq_t3).value_counts()
<ipython-input-6-af03bf8d2db5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B_ref_wt['t0_fre'] = pd.Series(seq_t0).value_counts()
<ipython-input-6-af03bf8d2db5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B_ref_wt['t3_fre'] = pd.Series(seq_t3).value_counts()

                     position original mutant  t0_fre  t3_fre
ACCACATTCCTATAGCGGGG       wt       wt     wt   146.0    24.0
AGCTACAGGAGTTATATTTC       wt       wt     wt    32.0     1.0
GCAAGCCCAGGAATGCCGAG       wt       wt     wt     NaN     NaN
AACCGCCTGCCGCCCCTCTC       wt       wt     wt     2.0     4.0
ATAACAAACGCCGCAGAGAC       wt       wt     wt     6.0     NaN
...                       ...      ...    ...     ...     ...
ACGCTCCGCCGAGGAGGGAG       wt       wt     wt   149.0     7.0
AGGACCGCAAGTCGGGGTAA       wt       wt     wt    79.0    11.0
ACCCTATTCTTGATAAAGCT       wt       wt     wt   161.0    19.0
GCGGCCCTCCCCCACCAACT       wt       wt     wt     4.0     NaN
GGACCGAGACCGATCTCGTA       wt       wt     wt     NaN     NaN

[586 rows x 5 columns]

In [7]:
wt_t0_fre = B_ref_wt['t0_fre'].sum()
wt_t3_fre = B_ref_wt['t3_fre'].sum()
wt_t3_fre

14404.0

In [8]:
B_ref = B_ref.drop(list(B_ref[np.isnan(B_ref['t0_fre'])].index))
#B_ref_wt = B_ref_wt.drop(list(B_ref_wt[np.isnan(B_ref_wt['t0_fre'])].index))

B_ref['t3_fre'].fillna(1, inplace = True)
#B_ref_wt['t3_fre'].fillna(0, inplace = True)


B_ref = B_ref.drop(B_ref[(B_ref['t0_fre']<10) & (B_ref['t3_fre']<10)].index)
#B_ref_wt = B_ref_wt.drop(B_ref_wt[(B_ref_wt['t0_fre']<10) & (B_ref_wt['t3_fre']<10)].index)

B_ref_wtlike = B_ref[B_ref['origin_single'] == B_ref['mutant_single']]
B_ref_nonsynonymous = B_ref.drop(B_ref[B_ref['origin_single'] == B_ref['mutant_single']].index)
B_ref_wtlike
B_ref_nonsynonymous

,position,original,mutant,origin_single,mutant_single,t0_fre,t3_fre
GCTCCCTTGCGGATAAAACT,1,TTG,GAG,L,E,154.0,296.0
GACATGAAGCGGTAGTTCCT,1,TTG,TTT,L,F,174.0,586.0
AATACATCTGTAGGCTACCC,1,TTG,TTT,L,F,143.0,3.0
GTTAGTTATCAGCTTGAGAG,1,TTG,TTT,L,F,316.0,17.0
AAAGTGCCCCGCTTGTAGCA,1,TTG,GTG,L,V,39.0,3.0
...,...,...,...,...,...,...,...
ACGATGCCAAGGAATGCGCT,250,TTG,GGG,L,G,102.0,34.0
AACTCGCGCGTAGGCAATCG,250,TTG,GAG,L,E,11.0,15.0
GCTACCTGACCGCATACCCC,250,TTG,TTC,L,F,103.0,4.0
AAACACATCCTTACGCCATT,250,TTG,GTG,L,V,148.0,3.0
AAACTCGATTCGAGTATGGC,250,TTG,GGG,L,G,233.0,56.0

In [9]:
B_ref_nonsynonymous = B_ref_nonsynonymous.set_index('position')
#B_ref_wtlike = B_ref_wtlike.set_index('position')
#B_ref.to_csv("C:\\Users\\90623\\Desktop\\B_ref.csv")
B_ref_nonsynonymous
B_ref_wtlike = B_ref_wtlike.set_index('position')
B_ref_wtlike

         original mutant origin_single mutant_single  t0_fre  t3_fre
position
2             AGA    AGG             R             R   147.0    17.0
4             GAA    GAG             E             E    83.0    16.0
4             GAA    GAG             E             E   204.0    48.0
4             GAA    GAG             E             E   501.0    48.0
4             GAA    GAG             E             E    18.0     1.0
...           ...    ...           ...           ...     ...     ...
250           TTG    CTG             L             L   287.0    43.0
250           TTG    TTA             L             L   248.0     8.0
250           TTG    CTG             L             L   208.0    27.0
250           TTG    CTG             L             L   223.0    40.0
250           TTG    CTA             L             L    59.0     1.0

[1165 rows x 6 columns]

In [10]:
data_wtlike = B_ref_wtlike.groupby(['position','origin_single','mutant_single']).agg('sum')
data_wtlike['t3_fre'].replace(0,1,inplace = True)
data_wtlike.head(20)

                                      t0_fre  t3_fre
position origin_single mutant_single
2        R             R               147.0    17.0
4        E             E               856.0   125.0
5        V             V              1175.0   198.0
7        L             L               354.0    73.0
8        G             G                99.0    10.0
9        Q             Q               547.0   101.0
10       G             G               138.0    10.0
12       F             F               921.0    71.0
13       G             G                66.0    22.0
15       V             V               336.0    76.0
18       G             G               616.0   130.0
19       T             T               254.0    34.0
21       N             N              2137.0   458.0
22       G             G               105.0   303.0
24       T             T               700.0    93.0
25       R             R              2250.0   418.0
26       V             V               758.0   108.0
28       I             I                32.0     1.0
30       T             T               556.0    83.0
31       L             L              2940.0   551.0

In [11]:
data_nonsynonymous = B_ref_nonsynonymous.groupby(['position','origin_single','mutant_single']).agg('sum')
data_nonsynonymous.head(20)

                                      t0_fre  t3_fre
position origin_single mutant_single
1        L             E               154.0   296.0
                       F               633.0   606.0
                       G               296.0   463.0
                       S                14.0     3.0
                       T                43.0     4.0
                       V               222.0     8.0
2        R             A               544.0   126.0
                       D               167.0    60.0
                       G               328.0    72.0
                       K               326.0    52.0
                       P                72.0    37.0
                       Q               599.0   195.0
                       S               528.0   120.0
                       T                90.0   228.0
                       V               806.0   185.0
                       W               675.0    63.0
                       Y               241.0   117.0
3        L             F                72.0   194.0
4        E             A               252.0     4.0
                       C               419.0    35.0

In [20]:
for index, row in data_wtlike.iterrows():
    data_wtlike['activity_score'] = ''
    #data_wtlike.loc[index].loc['activity_score'] = -(np.log(data_wtlike.loc[index].loc['t3_fre']/wt_t3_fre*wt_t0_fre/data_wtlike.loc[index].loc['t0_fre']))
     
    data_wtlike.loc[index, 'activity_score'] = -(np.log(data_wtlike.loc[index].loc['t3_fre']/wt_t3_fre*wt_t0_fre/data_wtlike.loc[index].loc['t0_fre']))

#for index, row in data_wtlike.iterrows():
    #print(data_wtlike.loc[index].loc['t3_fre'])
    #data_nonsynonymous.loc[index].loc['activity_score'] = -(np.log(data_nonsynonymous.loc[index].loc['t3_fre']/wt_t3_fre*wt_t0_fre/data_nonsynonymous.loc[index].loc['t0_fre']))
#data_nonsynonymous
#data_nonsynonymous.loc[1].loc['activity_score'] = -(np.log(data_nonsynonymous.loc[1].loc['t3_fre']/wt_t3_fre*wt_t0_fre/data_nonsynonymous.loc[1].loc['t0_fre']))
#data_nonsynonymous.loc[1].loc['activity_score']
    #a = data_wtlike.loc[index].loc['t3_fre']/wt_t3_fre*wt_t0_fre/data_wtlike.loc[index].loc['t0_fre']
    #b = round(data_wtlike.loc[index].loc['t3_fre']/wt_t3_fre*wt_t0_fre/data_wtlike.loc[index].loc['t0_fre'], 6)
    a = -(np.log(data_wtlike.loc[index].loc['t3_fre']/wt_t3_fre*wt_t0_fre/data_wtlike.loc[index].loc['t0_fre']))
    #print(a)
data_wtlike

                                      t0_fre  t3_fre activity_score
position origin_single mutant_single
2        R             R               147.0    17.0
4        E             E               856.0   125.0
5        V             V              1175.0   198.0
7        L             L               354.0    73.0
8        G             G                99.0    10.0
...                                      ...     ...            ...
245      Y             Y               605.0   786.0
246      L             L              4798.0  1945.0
247      Q             Q               811.0   215.0
249      F             F               672.0   124.0
250      L             L              1171.0   120.0       0.539225

[179 rows x 3 columns]